body {
    background-color: bisque;
}


/*NEW: used text-transform  */

h1 {
    text-align: center;
    color: brown;
    padding: 14px 600px;
    text-transform: capitalize;
    font-family: manofa-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    text-align: center;
    color: brown;
    padding: 14px 600px;
    font-family: manofa, sans-serif;
    font-weight: 400;
    font-style: italic;
}

h3 {
    text-align: center;
    color: chocolate;
    padding: 14px 600px;
    font-family: manofa-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: manofa, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: rgb(84, 114, 60);
}

td {
    font-family: manofa-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar {
    list-style-type: none;
    background-color: cornsilk;
    padding: 0;
    margin: 0;
    overflow: 0;
}

ul.navbar li {
    float: left;
}

ul.navbar li a {
    padding: 14px 16px;
    display: block;
    color: darkblue;
    text-decoration: none;
}

ul.navbar li a:hover {
    background-color: rgb(65, 62, 62);
    color: rgb(214, 210, 210);
}

.selected {
    background-color: darkgray;
}

.text {
    padding: 14px 100px;
    text-align: center;
}

.image {
    max-height: 20%;
    max-width: 20%;
    padding: 14px 300px;
    text-align: center;
}